# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
user.scr
motd_entries.txt
sixense_bindings.cfg
*.txt
server_bootcamp.cfg
server_casual.cfg
server_competitive_max_rounds_win_conditions.cfg
backupcontrols.cfg
banned_user.cfg
server_casual_max_rounds_win_conditions_mannpower.cfg
server_competitive_rounds_win_conditions_high_skill.cfg
server_competitive.cfg
server_competitive_stopwatch_win_conditions_high_skill.cfg
server_competitive_rounds_win_conditions.cfg
server_mvm.cfg
server_matchmaking_base.cfg
server_casual_max_rounds_win_conditions.cfg
server_casual_rounds_win_conditions.cfg
server_mannup.cfg
server_competitive_max_rounds_win_conditions_high_skill.cfg
server_competitive_stopwatch_win_conditions.cfg
server_casual_stopwatch_win_conditions.cfg
*.scr